/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    width: 100%; /* Ensures container expands to fill available space */
    margin: 20px auto;
    padding: 20px;
    background-color: #71c8eb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1 {
    color: #007bff;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    margin-bottom: 5px;
}

.job p {
    margin-bottom: 10px;
}
